*{
    padding: 0px;
    margin: 0px;
}
.sidebackground{
    width: 229px;
    height: 745px;
    /* border: 2px solid red; */
    /* background-color: grey; */
}
.header {
    margin-left: 262px;
    height: 745px;
    /* border: 2px solid red; */
    margin-top: -650px;
    width: 960px;
}
.sidebar{
    display: flex;
    /* border: 2px solid blueviolet; */
    width: 148px;
    justify-content: space-between;
    
}
.firstlined {
    width: 957px;
    height: 54px;
}
.sidedown {
    display: flex;
    flex-direction: column;
    /* border: 2px solid green; */
    width: 61px;
    height: 152px;
    margin-top: 23px;
    justify-content: space-between;
}
.slidedown2{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    /* border: 2px solid green; */
    width: 61px;
    height: 202px;
    
    justify-content: space-between;

}
.slidedown3{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    /* border: 2px solid green; */
    width: 61px;
    height: 240px;
    
    justify-content: space-between;
}
.insidetext {
    display: flex;
    width: 958px;
    height: 37px;
    /* border: 2px solid yellow; */
    color: black;
    font-size: 14px;
    justify-content: space-between;
}
#subscrip {
    margin-left: 22px;
    font-size: 16px;
    margin-top: -7px;
}
#text1 {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 152px;
    margin-top: -155px;
    /* border: 2px solid black; */
    margin-left: 62px;

}
#text2{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 152px;
    margin-top: -155px;
    /* border: 2px solid black; */
    margin-left: 62px;
}
#text3 {
    display: flex;
    flex-direction: column;
    width: 152px;
    height: 152px;
    margin-top: -229px;
    /* border: 2px solid black; */
    margin-left: 73px;
}
.text1{
    margin-top: 10px;
    font-size: 15px;
}
.text2{
    margin-top: 20px;
    font-size: 15px;
}
.text3{
    margin-top: 20px;
    font-size: 15px;
}
.text4{
    margin-top: 23px;
    font-size: 15px;
}
.text5{
    margin-top: -45px;
    font-size: 15px;
}
.text6{
    margin-top: 17px;
    font-size: 15px;
}
.text7{
    margin-top: 17px;
    font-size: 15px;
}
.text8{
    margin-top: 17px;
    font-size: 15px;
}
.text9{
    margin-top: 17px;
    font-size: 15px;
}
.text10{
    margin-top: 13px;
    font-size: 15px;
}
.text11{
    margin-top: 10px;
    font-size: 15px;
}
.text12{
    margin-top: 23px;
    font-size: 15px;
}
.text13{
    margin-top: 18px;
    font-size: 15px;
}
.text14{
    margin-top: 18px;
    font-size: 15px;
}
.text15{
    margin-top: 19px;
    font-size: 15px;
}
.text16{
    margin-top: 20px;
    font-size: 15px;
}
.foot{
    display: flex;

}
/* .p1{
    border: 2px solid black;
    border-radius: 4px;
    height: 27px;
    width: 65px;
    margin-top: 10px;
    margin-left: 20px;
    position: absolute;
    background-color: black;
    z-index: -1;
} */
/* .p2{
    border: 2px solid black;
    border-radius: 4px;
    height: 27px;
    width: 65px;
    margin-top: 10px;
    margin-left: 50px;
    position: absolute;
    background-color: black;
    z-index: -1;
}
.p3{
    border: 2px solid black;
    border-radius: 4px;
    height: 27px;
    width: 65px;
    margin-top: 10px;
    margin-left: 90px;
    position: absolute;
    background-color: black;
    z-index: -1;
}
.p4{
    border: 2px solid black;
    border-radius: 4px;
    height: 27px;
    width: 65px;
    margin-top: 10px;
    margin-left: 120px;
    position: absolute;
    background-color: black;
    z-index: -1;
}
.p5{
    border: 2px solid black;
    border-radius: 4px;
    height: 27px;
    width: 65px;
    margin-top: 10px;
    margin-left: 150px;
    position: absolute;
    background-color: black;
    z-index: -1;
}
.p6{
    border: 2px solid black;
    border-radius: 4px;
    height: 27px;
    width: 65px;
    margin-top: 10px;
    margin-left: 180px;
    position: absolute;
    background-color: black;
    z-index: -1;
}
.p7{
    border: 2px solid black;
    border-radius: 4px;
    height: 27px;
    width: 65px;
    margin-top: 10px;
    margin-left: 220px;
    position: absolute;
    background-color: black;
    z-index: -1;
}
.p8{
    border: 2px solid black;
    border-radius: 4px;
    height: 27px;
    width: 65px;
    margin-top: 10px;
    margin-left: 250px;
    position: absolute;
    background-color: black;
    z-index: -1;
}
.p9{
    border: 2px solid black;
    border-radius: 4px;
    height: 27px;
    width: 65px;
    margin-top: 10px;
    margin-left: 280px;
    position: absolute;
    background-color: black;
    z-index: -1;
}
.p10{
    border: 2px solid black;
    border-radius: 4px;
    height: 27px;
    width: 65px;
    margin-top: 10px;
    margin-left: 310px;
    position: absolute;
    background-color: black;
    z-index: -1;
}
.p11{
    border: 2px solid black;
    border-radius: 4px;
    height: 27px;
    width: 65px;
    margin-top: 10px;
    margin-left: 340px;
    position: absolute;
    background-color: black;
    z-index: -1;
}
.p12 {
    border: 2px solid black;
    border-radius: 4px;
    height: 27px;
    width: 65px;
    margin-top: 6px;
    margin-left: 850px;
    position: absolute;
    background-color: black;
    z-index: -1;
} */
/* .txt12 {
    margin-top: 11px;
    margin-left: 860px;
    position: absolute;
    font-size: 14px;
    color: white;
} */
.txt1 {
    margin-left: 28px;
    margin-top: 15px;
}
.txt1 {
    margin-left: 28px;
    margin-top: 15px;
}
.txt2 {
    margin-left: 28px;
    margin-top: 15px;
}
.txt3 {
    margin-left: 28px;
    margin-top: 15px;
}
.txt4 {
    margin-left: 28px;
    margin-top: 15px;
}
.txt5 {
    margin-left: 28px;
    margin-top: 15px;
}
.txt6 {
    margin-left: 28px;
    margin-top: 15px;
}
.txt7 {
    margin-left: 28px;
    margin-top: 15px;
}
.txt8 {
    margin-left: 28px;
    margin-top: 15px;
}
.txt9 {
    margin-left: 28px;
    margin-top: 15px;
}
.txt10 {
    margin-left: 28px;
    margin-top: 15px;
}
.txt11{
    margin-left: 28px;
    margin-top: 15px;
}
.txt12{
    margin-left: 28px;
    margin-top: 15px;
}

.hr1{
    border: none;
    height: 1px;
    background-color: rgb(227, 232, 236);
}
li{
    list-style-type: none;
}
.hr1 {
    margin-top: 18px;
    width: 213px;
}
.inputbox{
    margin-top: 10px;
    margin-left: 159px;
} 
.leftside{
    display: flex;
    flex-direction: row;
}
#inputbox{
    width: 443px;
    height: 35px;
} 
#hambarger{
    height: 20px;
    width: 20px;
    margin-left: 24px;
    margin-top: 14px;
}
#youtubelogo{
    margin-top: 14px;
}
#sideicon{
    height: 25px;
    width: 24px;
    margin-left: 22px;
}
#search {
    width: 24px;
    height: 24px;
    margin-top: -31px;
    margin-left: 567px;
    position: absolute;
}
#voice {
    width: 24px;
    height: 28px;
    margin-top: -34px;
    margin-left: 617px;
    position: absolute;
}
.camera {
    width: 24px;
    height: 28px;
    margin-top: -32px;
    margin-left: 763px;
    position: absolute;
}
.more {
    margin-top: -30px;
    margin-left: 812px;
    height: 25px;
    position: absolute;
}
.create{
    margin-top: -30px;
    margin-left: 853px;
    height: 25px;
    position: absolute;
}

.ellipse {
    margin-top: -30px;
    margin-left: 897px;
    height: 25px;
    position: absolute;
}
#im1 {
    margin-left: 284px;
    margin-top: -621px;
    position: absolute;
}